<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        /* Example button styling */
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #008CBA;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 6px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Beer App</h1>
    
    <img src="/public/images/beer.png" alt="Beer Image" width="300" height="300">
    
    <div>
        <a href="/beers" class="button">Check the Beers!</a>
        <a href="/random-beer" class="button">Check a Random Beer</a>
    </div>
</body>
</html>
